<a href="https://colab.research.google.com/github/mcmfire21/Elective1-2/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Indentation

In [ ]:


if 2>5:           #This  is a comparison if 2 is greater than 5
  print("5 is greater than 2")
else:
  print("2 is less than 5")

2 is less than 5

In [ ]:
x = 'Stella'
y = -4.56

print(x)
print(y)

Stella
-4.56

In [ ]:
print(type(x))
print(type(y))

<class 'str'>
<class 'float'>